:root {
    --background-color-light: #f5f5f5;
    --background-color-dark: black;

    --primary-color: rgb(0, 0, 0);
    --secondary-color: #1073d7;
    --third-color: #ff41bc;
    /* --third-color: #095097; */
    --main-header-height: 70px;


}

html {
    scroll-behavior: smooth;
    position: relative;
}

body {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: tahoma;
    font-family: 'Poppins', sans-serif;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--main-header-height);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--background-color-light);
}

#hamburder-checkbox {
    display: none;
}

#hamburger {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px;
    font-size: 1.8rem;
    cursor: pointer;
    display: none;
    transform: opacity 0.2s;
}

#hamburger:hover {
    opacity: 0.5;
}



.main-header h1 {
    font-size: 1.3rem;
    background-color: var(--background-color-light);
    border-radius: 5px;
    padding: 0px 20px;
    text-align: center;

    a {
        text-decoration: none;
        color: var(--primary-color);
        position: relative;
    }
}


.main-header .links-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: min(60vw, 800px);
}

.main-header .links-list li {
    position: relative;
}

.main-header .links-list li::after,
.main-header h1 a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    width: 0;
    height: 2px;
    background-color: var(--secondary-color);
    transition: width 0.2s;
}

.main-header h1 a::after {
    height: 3px;
}

.main-header .links-list li:hover::after,
.main-header h1 a:hover::after {
    width: 100%;
}

.main-header h1 a::after {
    animation: backgroundAnimation 3s linear infinite;
}

@keyframes backgroundAnimation {

    0%,
    100% {
        background-color: var(--secondary-color);
    }

    50% {
        background-color: var(--third-color);
    }

}

@keyframes colorAnimation {

    0%,
    100% {
        color: var(--secondary-color);
    }

    50% {
        color: #ff41bc;
    }

}


.main-header .links-list li a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1rem;
}


main {
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: column;
    position: absolute;
    /* top: var(--main-header-height); */
    z-index: -1;
    gap: 30px;
    margin-top: var(--main-header-height);
}

main>section {
    scroll-margin-top: calc(var(--main-header-height) + 70px);
    /* the 70px is the margin-top*/
    width: 100vw;
    height: auto;
    /* max-height: 900px; */
    /* margin: 2vw 0; */
    /* border-bottom: 1px solid #000; */
    /* padding-top: var(--main-header-height); */
    position: relative;
    margin-top: 70px;
    /*70px + 20px(animation)*/
    padding: 0 20px;
    top: -20px;
    animation: fadeInUp 1s ease forwards;
    animation-delay: var(--delay, 0s);
    opacity: 0;
    /* fading in and up animation */
}

/* fading in and up delay time */
main>section:nth-child(1) {
    --delay: 0.2s;
}

main>section:nth-child(2) {
    --delay: 0.4s;
}

main>section:nth-child(3) {
    --delay: 0.6s;
}

main>section:nth-child(4) {
    --delay: 0.8s;
}

main>section:nth-child(5) {
    --delay: 1s;
}

main>section:nth-child(6) {
    --delay: 1.2s;
}

/* fade up animation */
@keyframes fadeInUp {
    to {
        opacity: 1;
        top: 0;
    }
}


/* helper span to make the h1 section title sticky. */
main>section>h1.section-title span {
    position: sticky;
    top: calc(var(--main-header-height));
    z-index: 100;
    /* left: 2vw; */
    background-color: var(--background-color-light);
    width: 100vw;
    display: block;
    left: 50px;
    border-radius: 4px;
    color: var(--secondary-color);
    font-size: clamp(2rem, 2vw, 2.2rem);
    /* margin-bottom: 30px;
    border-bottom-width: 4px;
    border-bottom-style: solid; */
    text-align: center;
}

main>section>h1.section-title {
    pointer-events: none;
    position: absolute;
    top: -80px;
    text-align: center;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    /* animation: colorAnimation 10s linear infinite; */
}

/* main section h1.section-title {
    place-self: center;
    color: var(--secondary-color);
    font-size: clamp(2rem, 3vw, 3rem);
    margin-bottom: 30px;
    border-bottom-width: 4px;
    border-bottom-style: solid;
    animation: colorAnimation 10s linear infinite;
} */


/* home */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: min(4vw, 300px);
    margin-top: 0;
}

/* left-side */
#home .left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    max-width: 600px;
    align-self: flex-end;
}

#home #connect {
    background-color: var(--secondary-color);
    cursor: pointer;
    padding: 5px 15px;
    color: white;
    border-radius: 3px;
    font-size: clamp(0.7rem, 2vw, 1.6rem);
    max-width: max(42vw, 700px);
    border: none;
    animation: backgroundAnimation 10s ease-in infinite;
    /* animation */
    transition: filter 0.1s;
}

#home #connect:hover {
    filter: brightness(70%);
}


#home .left-side h1 {
    white-space: nowrap;
    /* font-size: min(3.5vw, 40pt); */
    font-size: clamp(1rem, 3vw, 3.3rem);

    span {
        color: var(--secondary-color);
        cursor: alias;
    }

    span {
        animation: colorAnimation 10s ease-in-out infinite;
    }
}

#home .left-side .social-media {
    display: flex;
    gap: 25px;
    align-items: center;
}


/* social media icons */
#home .left-side .social-media a svg *,
#home .left-side .social-media a svg {
    width: min(2vw, 30px);
    height: min(2vw, 30px);
    fill: var(--background-color-dark);
}




/* right-side image */
.blob-container {
    width: min(22vw, 300px);
    background-color: var(--secondary-color);
    border-radius: 50% 0;
    /* blob background */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    animation: backgroundAnimation 10s linear infinite;
}

.blob-container img {
    width: 100%;
    object-fit: cover;
}

/* @keyframes borderBottomAnimation {

    0%,
    100% {
        border-bottom-color: var(--secondary-color);
    }

    50% {
        border-bottom-color: var(--third-color);
    }
} */

/* about */

#about {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    z-index: 160;
}

#about .images {
    align-self: flex-start;
    display: grid;
    width: fit-content;
    grid-template-columns: repeat(2, minmax(5vw, 100px));
    grid-template-rows: repeat(2, minmax(10vw, 200px));
    /* grid-template-rows: repeat(2, auto); */
    justify-content: center;
    gap: 10px;
    border-radius: 20px;
    overflow: hidden;
}


#about .images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    /* Let browser decide */
}

#about .images img.small {
    cursor: pointer;
    transition: all 0.15s;
}

#about .images img.small:hover {
    filter: brightness(90%);
    scale: 1.01;
}


/* make #about images big when clicking on them. */
#about .images img.big {
    display: none;
    border-radius: 40px;
    margin-top: var(--main-header-height);
}


#about .images input[type="checkbox"]:checked+label>.big-image-container {
    position: fixed;
    left: 0%;
}


#about .images .small-image-container input[type="checkbox"] {
    display: none;
}

#about .images input[type="checkbox"]:checked+label>.big-image-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .images input[type="checkbox"]:checked+label>.big-image-container>img.big {
    display: block;
    width: clamp(200px, 56vw, 500px);
    transform: scale(0.7);
    height: auto;
    animation: showBigImage 0.1s linear forwards;
}

@keyframes showBigImage {

    to {
        transform: scale(1);
        display: block;
    }
}

/* END of making #about images big when clicking on them */


#about section.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 3;
    gap: 15px;
    max-width: 700px;
}

#about section.text h1 {
    font-size: clamp(1.3rem, 2vw, 2rem);
    text-align: left;
}

#about section.text p {
    text-align: justify;
    display: inline-block;
    font-size: clamp(0.9rem, 2vw, 1.2rem);
    line-height: 1.4;
}

#about section.text p span.first {
    font-size: clamp(1.1rem, 2vw, 1.4rem);
    font-weight: bold;
}

/* education */
#education {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 0 60px;
    /* if you change the padding - you'll affect the dots / lines */
    position: relative;
}

#education>section {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

/* dots */
#education>section::before {
    content: '';
    padding: 7px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    position: absolute;
    left: -27px;
    top: 0;
}

/* left line */
#education::before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: #aaa;
    z-index: -1;
    left: 39px;
}

/* right line */
#education::after {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    background-color: #aaa;
    z-index: -1;
    left: calc(50% + 4px);
}

#education section h4.years {
    color: var(--secondary-color);
    font-size: clamp(1rem, 1vw, 1.2rem);
}

#education section h1.education-type {
    font-size: clamp(1.3rem, 1.3vw, 1.5rem);
    margin-bottom: 8px;
}

#education section ul {
    padding-left: 20px;
    line-height: 1.7;
}

#education section ul li {
    font-size: clamp(1rem, 1.1vw, 1.2rem);
    ;
}

/* skills */


#skills .technical-skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(10rem, 500px));
    justify-content: center;
    gap: min(4vw, 60px);
}

#skills .technical-skills .skill {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    padding: 10px;
}

#skills .technical-skills .skill .right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#skills .technical-skills .skill img {
    width: clamp(30px, 5vw, 60px);

    height: minmax(5vw, 20px);
    object-fit: fill;
}

#skills .technical-skills .skill .right-side .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &>h3 {
        font-size: clamp(1rem, 1.2vw, 1.3rem);
    }
}

#skills .technical-skills .skill .right-side .percentage-view {
    height: 15px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

#skills .technical-skills .skill .right-side .percentage-view div {
    background-color: var(--secondary-color);
    /* width: 95%; */
    height: 100%;
}

.html {
    width: 95%;
}

.css {
    width: 85%;
}

.js {
    width: 70%;
}

.csharp {
    width: 75%;
}

.aspnet {
    width: 70%;
}

.python {
    width: 50%;
}

.git {
    width: 20%;
}